@media screen and (min-width:992px) and (max-width:1199px) {
    .logo {
        height: 60px;
        width: 60px;
    }

    .name {
        font-size: 21px;
        margin: 0px 10px;
    }

    .menu li a {
        font-size: 15px;
    }

    .col-md-3 {
        width: 28%;
    }

    .col-md-9 {
        width: 72%;
    }

    .in-second h1 {
        font-size: 45px;
        margin: 10px 0px;
    }

    .first-btn {
        margin-left: 214px;
        margin-top: 30px;
    }

    .second-btn {
        margin-right: 197px;
        margin-top: 30px;
    }

    .btns {
        font-size: 15px;
    }

    .menu li {
        padding: 10px 14px;
    }

    .for-menu {
        padding: 0px;
    }

    #column1,
    #column2,
    #column3,
    #column4,
    #column5,
    #column6,
    #column7,
    #column8,
    #column9,
    #column10,
    #column11,
    #column12 {
        width: 46%;
    }

    .cols {
        margin: 30px 15px;
    }

    .micro-cols{
        height: 70px;
        margin: 15px 10px;
        text-align: center;
    }
}